In [41]:
import pandas
import datetime

df = pandas.read_json('../data/performance_titles_dates.gz', compression='gzip')

Reminder of what our dataframe looks like.

In [42]:
df.head()

,date,source,title,title_target
0,1828-03-21 00:00:00,https://api.bl.uk/metadata/iiif/ark:/81055/vdc...,The Slave,{u'source': u'https://api.bl.uk/metadata/iiif/...
1,1829-12-03 00:00:00,https://api.bl.uk/metadata/iiif/ark:/81055/vdc...,Black-Eyed Susan,{u'source': u'https://api.bl.uk/metadata/iiif/...
10,1828-01-03 00:00:00,https://api.bl.uk/metadata/iiif/ark:/81055/vdc...,Marriage of Figaro,{u'source': u'https://api.bl.uk/metadata/iiif/...
100,1839-02-26 00:00:00,https://api.bl.uk/metadata/iiif/ark:/81055/vdc...,Jane Shore,{u'source': u'https://api.bl.uk/metadata/iiif/...
101,1839-02-26 00:00:00,https://api.bl.uk/metadata/iiif/ark:/81055/vdc...,Two Gregories,{u'source': u'https://api.bl.uk/metadata/iiif/...

Get todays day and month.

In [43]:
today = datetime.datetime.now()
day = today.day
month = today.month

In [55]:
df['date'] = pandas.to_datetime(df['date'])
df.loc[(df['date'].dt.day == day) & (df['date'].dt.month == 06)]

# df.loc[df.date.month == 12]
# on_this_day_df = df[df['date'].str.endswith(day)]

Empty DataFrame
Columns: [date, source, title, title_target]
Index: []